/* Variables CSS */

:root {

    /* ## Colors */
    /* ### Primary */
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --White: hsl(0, 0%, 100%);

    /* font-weight: ; */
    --F-weight-400: 400;
    --F-weight-600: 600;

    /* font-family:  */
    --primary-font-family: 'Poppins', sans-serif;
    --secundary-font-family: 'Open Sans', sans-serif;



}

body {
    font-size: 18px;
    font-family: var(--primary-font-family);
    background-color: var(--Violet);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 100vh; */

}

/* General */

.header,
.main,
.footer {
    padding: 2.5rem 3rem;
}

.wrapper {
    width: min(80%, 1200px);
    margin: 0 auto;
    text-align: center;
}

/* HEADER --------------- */

.logo {
    width: 40%;
}

/* MAIN -------------- */
/* Picture */

.main_pic_box {
    margin-bottom: 5rem;
}

.main_pic {
    margin: 0 auto;
}

/* Article */
.article {
    color: var(--White);
    margin-bottom: 2rem;
}


.heading {
    font-size: 2rem;
    font-weight: var(--F-weight-600);
}

.description_box {
    margin-bottom: 3rem;
}

.description {
    font-size: 1.25rem;
    font-weight: var(--F-weight-400);
    line-height: 1.5;

}

/* Button */

.button_box {
    margin-bottom: 5rem;
}

.btn {
    background: var(--White);
    padding: 1em 7em;
    border-radius: 10rem;
    text-decoration: none;
    font-family: var(--secundary-font-family);
    font-weight: var(--F-weight-400);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover {
    color: var(--White);
    background: var(--Soft-Magenta);


}

.fa-brands {
    font-size: 2.5rem;
    color: var(--White);
    padding: 0.5rem;

}

.fa-brands:hover {
    color: var(--Soft-Magenta);
    transition: 2s;
}

/* MEDIA */




@media (min-width: 950px) {

    body {
        background-image: url(../images/bg-desktop.svg);
    }

    /* MAIN -------------- */

    .main {
        margin-top: -5rem;
    }

    .grid_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        text-align: left;
        place-items: center;

    }

    .grid_item_2 {
        transform: translate(0%, 10%);

    }

    .button_box {
        margin-bottom: 10rem;
    }


    .btn {
        padding: 1em 5em;
    }

    .flex_wrapper {
        display: flex;
        justify-content: flex-end;
    }



}
